<div id="guarantee">
	<div class="container">
		<h2>Our Dinner Guarantee</h2><br/>
		<p class="description">Take at least three tours with our representatives and if we can't help you find your new home, then we'll give you a free dinner for two at a local five-star Japanese restaurant. A value of 4500 yen or $50.</p>
	</div>
</div>