<div class= "app">
	<div class= "row"><h1>English Phrase:</h1><h4>Favorite Recording:</h4></div>
		<div class= "row">
			<div class= "well span5">
				<p>	“I'm going to ask you about things that people are sometimes afraid of. 
					 Are you afraid of flying?” </p>
				<div class="audio">	<audio controls height="100" width="100">
					  <source src="fears.mp3" type="audio/mpeg">
					  <source src="fears.ogg" type="audio/ogg">
					  <embed height="20" width="300" src="fears.mp3">
					</audio></div>	
			</div>
			<div class= "well span5">
				<div class = "star"><%= image_tag "starred-on.png", mouseover: 
												"starred-off.png"%></div>	
				<div class= "recording"><%= image_tag "recording.png" %></div>
			</div>
		</div>


	<div class= "row">
		<h2>Record yourself asking, “Are you afraid of flying?”</h2>
		<div class= "well span5">
			<div class = "star"><%= image_tag "star grey.png", mouseover: "star hover.png"%></div>
			<div id="locationforrecorder"></div>
				<script>

				   $.jRecorder(

				     { 
				        host : 'localhost:3000/acceptfile.php?filename=hello.wav' ,

				        callback_started_recording:     function(){callback_started(); },
				        callback_stopped_recording:     function(){callback_stopped(); },
				        callback_activityLevel:          function(level){callback_activityLevel(level); },
				        callback_activityTime:     function(time){callback_activityTime(time); },

				        callback_finished_sending:     function(time){ callback_finished_sending() },


				        swf_path : '/jRecorder.swf',

				     }

				    , $('#locationforrecorder')


				   );



				   </script>
				<input type="button" id="record" value="Record" style="color:red">
				<input type="button" id="stop" value="Stop">
									
		</div>
	</div>	

	<div class ="row">
		<h3>Try recording again?</h3>
		<div class= "well span5">
			<div class = "star"><%= image_tag "star grey.png", mouseover: "star hover.png"%></div>			
			<input type="button" id="record" value="Record" style="color:red">
			<input type="button" id="stop" value="Stop">
		</div>
	</div>
</div>

