<div id="main">
	<div class="top container">
		<h1>Misawa Off Base Housing Tours</h1>
		<script type="text/javascript">
			mixpanel.track('Land on landing page', {'Dinner Test' : 'None'});
		</script>
		<div class="home-info">
			<p>We've helped dozens military personnel new to Misawa Air Force base find their off-base housing when they first arrive here in Misawa AB, Japan. From single airmen looking for a small apartment, to families needing a lot of space, we can help you find the house to fit your needs.</p><br/>
			<p>We work with our numerous partners to give you a more varied selection. See the full range of what Misawa housing has to offer.</p> <br/><%= link_to "More Misawa Housing Information", info_path, class: "btn btn-large btn-primary span5", style: "float: none; padding: 10px; font-size: 20px", alt: "Misawa Off Base Housing Information" %>
			<script type="text/javascript">
				mixpanel.track_links("#main a", "Clicked Large Learn More Button");
			</script>
		</div>
	</div>
</div>
<div id="misawa-housing-reviews">
	<div class="row">
		<div class="span">
			<div class="thumbnail">
				<img alt="Rene's Misawa Off Base Housing" src="/assets/Rene's-new-misawa-off-base-housing.jpg">
				<div class="caption">
					<h2>Rene</h2>
					<p>"I needed housing and I was taken to this house. Then I took it because it was closest. I had a problem with my CO approving my papers, but the process of finding the house didn't take that long."</p>
				</div>
			</div>
		</div>
		<div class="span">
			<div class="thumbnail">
				<img alt="Sambor's Misawa Off Base Housing" src="/assets/Sambor's-misawa-off-base-housing.jpg">
				<div class="caption">
					<h3>Sgt. Sambor</h3>
					<p>"The process was smooth. Overall above average especially being new to a foreign country..."</p>
				</div>
			</div>
		</div>
		<div class="span">
			<div class="thumbnail">
				<img alt="Yada's New Misawa AB Housing" src="/assets/Yada's-new-misawa-ab-housing.jpg">
				<div class="caption">
					<h4>Sgt. Yada</h4>
					<p>"...I could not have asked for a better process. I liked the ease of finding the perfect house in one day and being able to start the paperwork immediately and being able to move in 3 days later."</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="button">
	<div class="container">
		<%= link_to "More Misawa Off Base Housing Information", info_path, class: "btn btn-large btn-primary span8", alt: "Misawa Off Base Housing Information" %>
		<script type="text/javascript">
			mixpanel.track_links("#button a", "Clicked Small Learn More button")
		</script>
	</div>
</div>
