<div id="main">
	<div class="top container">
		<h1>Find your new<br/>off-base home</h1>
		<script type="text/javascript">
			mixpanel.track('Land on landing page', {'Dinner Test' : 'None'});
		</script>
		<div class="home-info">
			<p>We've helped dozens military personnel new to Misawa Air Force base find their off-base home when they first arrive here in Japan. From single airmen looking for a small apartment, to families needing a lot of space, we can help you find the house to fit your needs.</p><br/>
			<p>We work with our numerous partners to give you a more varied selection. See the full range of what Misawa homes has to offer.</p> <br/><%= link_to "Learn More", info_path, class: "btn btn-large btn-primary span4", style: "float: none; padding: 10px;" %>
			<script type="text/javascript">
				mixpanel.track_links("#main a", "Clicked Large Learn More Button");
			</script>
		</div>
	</div>
</div>
<div id="reviews">
	<div class="row">
		<div class="span">
			<div class="thumbnail">
				<img alt="" src="/assets/house.jpg">
				<div class="caption">
					<h3>Sgt. Reed</h3>
					<p>"The first few houses were okay, but it wasn't until later in the tour did I find one that I really liked and could see myself living in. Now my new home away from home."</p>
				</div>
			</div>
		</div>
		<div class="span">
			<div class="thumbnail">
				<img alt="" src="/assets/Sambor.jpg">
				<div class="caption">
					<h3>Sgt. Sambor</h3>
					<p>"The process was smooth. Overall above average especially being new to a foreign country..."</p>
				</div>
			</div>
		</div>
		<div class="span">
			<div class="thumbnail">
				<img alt="" src="/assets/Yada.jpg">
				<div class="caption">
					<h3>Sgt. Yada</h3>
					<p>"...I could not have asked for a better process. I liked the ease of finding the perfect house in one day and being able to start the paperwork immediately and being able to move in 3 days later."</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="button">
	<div class="container">
		<%= link_to "Learn More", info_path, class: "btn btn-large btn-primary span8" %>
		<script type="text/javascript">
			mixpanel.track_links("#button a", "Clicked Small Learn More button")
		</script>
	</div>
</div>
