<script type="text/javascript">
	mixpanel.track('Land on info page')
</script>
<div id="misawa-housing-info">
	<div class="container">
	<h1>Misawa Off Base Housing Information</h1><br/>
	<p>Monthly off base housing rent ranges from 60,000 yen - 200,000 yen, but negotiable based on your Overseas Housing Allowance.</p>
	<p>Give us a call and we can set up a off base housing tour for you today. If you are unable to drive to our location, then we can pick you up either at the main or POL gate. Once the housing tour is done, we can drop you off at either gates as well.</p> 
	<p>Off base housing tours can be scheduled to fit with your schedule, but we recommend setting aside half or a whole day to see many different houses in Misawa. Off base housing tours can be scheduled between 0900-1600 Monday-Saturday.</p>
	<p>After a tour with one of our partners, we will continue another tour with another partner if time permits</p>
	<p>Have questions about Misawa Housing? Contact us</p>
	</div>
</div>
<div id="button">
	<div class="container">
		<%= link_to "Contact a Misawa Housing Representative", contact_path, class: "btn btn-large btn-primary span8", alt: "Misawa Housing Contact Us"%>
	</div>
</div>
