<div class= "appj">
	<div class= "row"><h1>Japanese Phrase:</h1><h4>Favorite Recording:</h4></div>
		<div class= "row">
			<div class= "well span5">
				<p>	“日本語” </p>
				<div class="audio">	<audio controls height="100" width="100">
					  <source src="nihongo.mp3" type="audio/mpeg">
					  <source src="nihongo.ogg" type="audio/ogg">
					  <embed height="20" width="300" src="nihongo.mp3">
					</audio></div>	
			</div>
			<div class= "well span5">
				<div class = "star"><%= image_tag "starred-on.png", mouseover: "starred-off.png"%></div>	
				<div class= "recording"><audio controls height="100" width="100">
					  <source src="nihongofav.mp3" type="audio/mpeg">
					  <source src="nihongofav.ogg" type="audio/ogg">
					  <embed height="20" width="300" src="nihongofav.mp3">
					</audio></div>
			</div>
		</div>


	<div class= "row">
		<h2>Record yourself saying, “日本語”</h2>
		<div class= "well span5">
			<div class = "star"><%= image_tag "star grey.png", mouseover: "star hover.png"%></div>
			<audio controls height="100" width="100">
				  <source src="nihongotry.mp3" type="audio/mpeg">
				  <source src="nihongotry.ogg" type="audio/ogg">
				  <embed height="20" width="300" src="nihongotry.mp3">
				</audio>
		</div>
	</div>	

	<div class ="row">
		<h3>Try recording again?</h3>
		<div class= "well span5">
			<div class = "star"><%= image_tag "star grey.png", mouseover: "star hover.png"%></div>			
			<input type="button" id="record" value="Record" style="color:red">
			<input type="button" id="stop" value="Stop">
		</div>
	</div>
</div>