<script type="text/javascript">
	mixpanel.track('Land on contact page')
</script>
<div id="contact">
	<div class="container">
		<div class="number">
			<h1>Call Us</h1>
			</br>
			<p>Local Japanese number: 080-4058-5771</p>
			<p>From US: 81-011-8180-4058-5771</p><br/>
			<p style="text-align: center; color: red; font-size: 30px; padding-bottom: 30px">or</p>
		</div>
	</div>
	<div class="email">
		<div class="container">
			<h2>E-mail us</h2>
			<p style="text-align: center; color: white; font-size: 20px; padding-bottom: 10px">Info@MisawaHousing.com</p>
		</div>
	</div>
</div>

