@import "bootstrap";

#logo {
	padding-top: 5px;
}


h1 {
padding-top: 0px;
padding-bottom: 0px;
padding-left: 20px;
font-size: 1.5em;
text-align: left;
float: left;
}

h4 {
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 307px;
	font-size: 1.5em;
	text-align: left;
	float: right;
}

h2, h3 {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	font-weight: normal;
	font-size: 1.2em;
	text-align: left;
}


well {
	width: 50;
	padding-top: 0px;
	padding-bottom: 0px;
}

.star {
	float: right;
}

.record {
	text-align: center;
}

p {
	font-size: 15pt;
	line-height: 18pt;
}

.audio {
	text-align: center;
}


