<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div style="text-align: center"; id= "logo">
      <%= image_tag("misawa-housing-logo.png") %>
		<p style="text-align: center">MisawaHousing.com</p>
		</div>
  </div>
</header>