<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class= "pull-left"; id= "logo">
      <%= link_to image_tag("logo.png"), root_path, alt: "Home" %>
	  <%= link_to "Misawa Off-Base Housing", root_path, alt: "Home" %>
	</div>
  </div>
</header>